.input-field {
  margin-top: 0.5rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid #c095c6;
  border-radius: 2rem;
  font-size: 1.3rem;
  appearance: none;
  background-color: #c8c2d8;
  color: #58305e;
  width: 14.5rem;
}

.input-field:focus {
  outline: none;
  background-color: #eeecf6;
}

.input-field:hover {
  cursor: text;
  background-color: #dedae8;
}

@media (max-width: 480px) {
  .input-field {
    width: 100%;
  }
}