.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:rgb(200, 199, 205);
  font-size: 1.4rem;
  gap: 2rem;
  margin-bottom: 5rem;
  max-width: 1280px;
}

